@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/onest";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Onest Variable', 'Onest', system-ui, sans-serif;
    font-weight: 400;
  }

  html {
    font-family: 'Onest Variable', 'Onest', system-ui, sans-serif;
  }
}